@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ChirpRegular';
    src: url('./assets/fonts/Chirp/ChirpRegular.ttf') format('truetype');
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2196f3;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1565c0;
}