@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ChirpRegular';
    src: url('./assets/fonts/Chirp/ChirpRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'ChirpMedium';
    src: url('./assets/fonts/Chirp/ChirpMedium.ttf') format('truetype');
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1976d2;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1565c0;
}